<%- include('../partials/header') %>
    <form class="d-flex flex-column justify-content-center align-items-center mt-5 p-5" method="POST" action="/api/history">
        <div class="col-6 mb-3">
            <label for="" class="form-label">History</label>
            <input type="text" name="history" class="form-control" placeholder="History" aria-describedby="history">
        </div>
        <div class="col-6 mb-3">
            <label for="" class="form-label">Time Played</label>
            <input type="text" name="timePlayed" class="form-control" placeholder="Time Played" aria-describedby="timePlayed">
        </div>
        <div class="col-6 mb-3">
            <label for="" class="form-label">Last Played</label>
            <input type="date" name="lastPlayed" value="<%= moment().format('YYYY-MM-DD') %>" min="2023-01-01" max="2100-12-31" class="form-control" aria-describedby="lastPlayed">
        </div>
        <div class="align-self-center mt-3">
        <button type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
    <%- include('../partials/footer') %>