<%- include('../partials/header') %>
    <form class="d-flex flex-column justify-content-center align-items-center mt-5 p-5" method="POST"
        action="/api/history/edit/:id">
        <input type="hidden" name="id" value="<%= history.id %>">
        <div class="col-6 mb-3">
            <label for="" class="form-label">History</label>
            <input type="text" name="history" value="<%= history.history %>" class="form-control" placeholder="History"
                aria-describedby="history">
        </div>
        <div class="col-6 mb-3">
            <label for="" class="form-label">Time Played</label>
            <input type="text" name="timePlayed" value="<%= history.timePlayed %>" class="form-control"
                placeholder="Time Played" aria-describedby="timePlayed">
        </div>
        <div class="col-6 mb-3">
            <label for="" class="form-label">Last Played</label>
            <input type="date" name="lastPlayed" value="<%= history.lastPlayed %>" min="2023-01-01" max="2100-12-31"
                class="form-control" aria-describedby="lastPlayed">
        </div>
        <div class="d-flex flex-row mt-3">
            <button type="submit" class="btn btn-primary me-3">Save</button>
            <a href="/" class="btn btn-danger">Cancel</a>
        </div>
    </form>

    <%- include('../partials/footer') %>