<%- include('./partials/header') %>
  <style>
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
  </style>
  <div class="justify-content-center d-flex flex-column mt-auto p-5">
    <% if (!user && !biodata) { %>
      <h2 class="text-center mt-5">Welcome! to simple CRUD App. <br /><br /> please login or register first.</h2>
      <% } else if (user) { %>
        <h2>Welcome, <%= user.username %>!</h2>
        <% if (biodata) { %>
          <table class="table table-striped">
            <tr>
              <th>Full Name</th>
              <th>Email Address</th>
              <th>Street Address</th>
              <th>Phone Number</th>
              <th>Created At</th>
              <th>Action</th>
            </tr>
            <tr>
              <td>
                <%= biodata.firstName %>
                  <%= biodata.lastName %>
              </td>
              <td>
                <%= biodata.email %>
              </td>
              <td>
                <%= biodata.address %>
              </td>
              <td>
                <%= biodata.phoneNumber %>
              </td>
              <td>
                <%= new Date(biodata.createdAt).toLocaleString([], {timeZone: 'Asia/Jakarta' , dateStyle: 'medium' ,
                  timeStyle: 'medium' }) %>
              </td>
              <td>
                <a href="/biodata/edit" class="btn btn-warning">
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </a>
                <a href="/api/biodata/delete/<%= biodata.id %>" class="btn btn-danger">
                  <i class="fa fa-times" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          </table>
          <% if (user.history && user.history.length> 0) { %>
            <h3>History:</h3>
            <table class="table table-striped justify-content-between">
              <tr>
                <th>Game</th>
                <th>Time Played</th>
                <th>Last Played</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Action</th>
              </tr>
              <% user.history.forEach(h=> { %>
                <tr>
                  <td>
                    <%= h.history %>
                  </td>
                  <td>
                    <%= h.timePlayed %>
                  </td>
                  <td>
                    <%= h.lastPlayed.toDateString() %>
                  </td>
                  <td>
                    <%= new Date(h.createdAt).toLocaleString([], {timeZone: 'Asia/Jakarta' , dateStyle: 'medium' ,
                      timeStyle: 'medium' }) %>
                  </td>
                  <td>
                    <%= new Date(h.updatedAt).toLocaleString([], {timeZone: 'Asia/Jakarta' , dateStyle: 'medium' ,
                      timeStyle: 'medium' }) %>
                  </td>
                  <td><a href="/history/edit/<%= h.id %>" class="btn btn-warning">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a href="/api/history/delete/<%= h.id %>" class="btn btn-danger">
                      <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                  </td>
                </tr>
                <% }); %>
            </table>
            <% } else { %>
              <% } %>
                <% } else { %>
                  <% } %>
                    <% } else { %>
                      <% } %>
  </div>
  <%- include('./partials/footer') %>