<% let errorModal=false %>
    <%- include('../partials/header') %>

        <form class="d-flex flex-column justify-content-center align-items-center mt-5 p-5" action="/api/biodata"
            method="post">
            <div class="col-6 mb-3">
                <label for="" class="form-label">First Name</label>
                <input type="text" name="firstName" class="form-control" placeholder="First Name"
                    aria-describedby="First Name">
            </div>
            <div class="col-6 mb-3">
                <label for="" class="form-label">Last Name</label>
                <input type="text" name="lastName" class="form-control" placeholder="Last Name"
                    aria-describedby="Last Name">
            </div>
            <div class="col-6 mb-3">
                <label for="" class="form-label">Email</label>
                <input type="email" name="email" class="form-control" placeholder="Email" aria-describedby="Email">
            </div>
            <div class="col-6 mb-3">
                <label for="" class="form-label">Address</label>
                <input type="text" name="address" class="form-control" placeholder="Address" aria-describedby="Address">
            </div>
            <div class="col-6 mb-3">
                <label for="" class="form-label">Phone Number</label>
                <input type="text" name="phoneNumber" class="form-control" placeholder="Phone Number"
                    aria-describedby="Phone Number">
            </div>
            <div class="align-self-center mt-3">
                <button type="submit" class="btn btn-primary">Create Biodata</button>
            </div>
        </form>
        <%- include('../partials/footer') %>