<%- include('../partials/header') %>

    <form class="d-flex flex-column justify-content-center align-items-center mt-5 p-5" method="POST"
        action="/api/biodata/edit/:id">
        <input type="hidden" name="userId" value="<%= biodata.userId %>">
        <div class="col-6 mb-3">
            <label for="" class="form-label">First Name</label>
            <input type="text" name="firstName" value="<%= biodata.firstName %>" class="form-control"
                placeholder="First Name" aria-describedby="First Name">
        </div>
        <div class="col-6 mb-3">
            <label for="" class="form-label">Last Name</label>
            <input type="text" name="lastName" value="<%= biodata.lastName %>" class="form-control"
                placeholder="Last Name" aria-describedby="Last Name">
        </div>
        <div class="col-6 mb-3">
            <label for="" class="form-label">Email Address</label>
            <input type="text" name="email" value="<%= biodata.email %>" class="form-control" placeholder="Email"
                aria-describedby="Email">
        </div>
        <div class="col-6 mb-3">
            <label for="" class="form-label">Street Address</label>
            <input type="text" name="address" value="<%= biodata.address %>" class="form-control" placeholder="Address"
                aria-describedby="Address">
        </div>
        <div class="col-6 mb-3">
            <label for="" class="form-label">Phone Number</label>
            <input type="text" name="phoneNumber" value="<%= biodata.phoneNumber %>" class="form-control"
                placeholder="Phone Number" aria-describedby="Phone Number">
        </div>
        <div class="d-flex flex-row justify-content-between mt-3">
            <button type="submit" class="btn btn-info me-2">Save</button>
            <a href="/" class="btn btn-danger">Cancel</a>
        </div>
    </form>

    <%- include('../partials/footer') %>