<%- include('../partials/header') %>

    <div class="container mt-5">
        <h5 class="text-center">Username minimal 5 character minimum</h5>
        <h5 class="text-center">Password 8 character minimum a-z 0-9</h5>
    </div>
    <form class="d-flex flex-column justify-content-center align-items-center mt-5 p-5" action="/api/register"
        method="post">
        <div class="col-3 mb-3">
            <label for="" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username" aria-describedby="username">
        </div>

        <div class="col-3 mb-3">
            <label for="" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password"
                aria-describedby="password">
        </div>
        <div class="align-self-center mt-3">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </form>
    <%- include('../partials/footer') %>